.agence {
    background-color: $color5;
    h2 {
        text-align: center;
        background-color: $color5;
        font-family: $font3;
        font-size: 3.5rem;
        color: $color6;
        padding: 20px 0;
        margin-bottom: 50px;
    }

    .agence-content {
        font-family: $fontlight;
        line-height: 1.7;
        color: $degrade2;
        p {
            margin-bottom: 20px;
        }
    }
}