// ALL EVENTS

#full-events {

    .all-event-content {
        text-align: center;

        &:hover .overlay {
            bottom: 0;
            height: 100%;
            opacity: 0.85;
        }

        a {
            &:hover {
                text-decoration: none;
            }
        }
        .event-first-pic {
            position: relative;
            img {
                width: 100%;
                height: 100%;
                border-radius: 2px;
            }
        }

        .overlay {
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            width: 100%;
            height: 0;
            background: #fff;
            overflow: hidden;
            opacity: 0;
            transition: all .8s;

            
            .caption {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                margin: 0 auto;
               
                h4 {
                    font-size: 1.5rem;
                    line-height: 1.3;
                    font-weight: bold;
                    font-family: $font1;
                    color: $color6;
                }
            
            }
        }
    }

    .all-categories {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-transform: uppercase;
        font-family: $font1;
        font-size: 0.9rem;
        margin-top: 20px;
        background: $color5;

        a {
            color: $color2;
            padding: 20px 15px;
            transition: all .5s;
            &:hover {
                background: $color2;
                color: #fff;
                text-decoration: none;
            }
            
            &:first-child {
                margin-left: 0;
            }
        }
    }
}







// SINGLE EVENT

.single-event {
    margin-top: 50px;
    background: $color5;

    .event-title {
        padding: 30px 0 15px 0;

        h1 {
            text-transform: uppercase;
            font-family: $font1;
            font-size: 2.5rem;
            color: $color6;
        }
    }

    .event-type {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        h3 {
            font-family: $font1;
            font-style: italic;
            color: $degrade2;
        }
        h2 {
            font-family: $font1;
            font-style: italic;
            color: $degrade2;
        }
        span {
            font-family: $font1;
            color: $color7;
        }

    }

    .full-event-content {
        .event-date {
            background: $color2;
            padding: 20px 0;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            p {
                text-align: center;
                font-family: $fontlight;
                color: $color5;
                font-size: 1.1rem;
            }
        }
    
       
        .event-content {
            background-color: #fff;
            padding: 20px 15px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            p {
                white-space: pre-wrap;
                line-height: 1.5;
                color: $color2;
                font-family: $fontlight;
            }
        }
    }

    .banner-event {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 20px;
        a {
            color: inherit;
            &:hover {
                text-decoration: none;
            }
        
        .block-event {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: #fff;
            border-radius: 3px;
            color: $color6;
            transition: all .5s;

            &:hover {
                background: $color6;
                color: #fff;
            }
            &:hover svg{
                fill: #fff;
            }
            svg {
                width: 40px;
                fill: #D0A245;
            }
            p {
                margin-top: 15px;
                font-family: $font1;
            }
        }
    }
    }



    #slider {
        .slides {
            width: auto;
            height: 500px;
            img {
                margin: 0 auto;
                display: block;
                width: auto;
                height: 100%;
            }
        
        }
    }
}
