
header {
    background-color: #fff;
    opacity: 1;
    width: 100%;

    .menu-mobile {
        display: none;
    }

    .burger-mobile {
        display: none;
    }
    .social-nav {
        background: $color1;
        padding: 5px 0;
        display: flex;
        .all-first-nav {
            font-family: $fontsemibold;
            display: flex;
            justify-content: space-between;
            font-size: 0.8rem;
            color: $degrade2;
            .contact-nav {
                display: flex;
                .phone {
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 10px;
                    }
                }
                .home {
                    display: flex;
                    align-items: center;
                    margin-left: 50px;
                    img {
                        margin-right: 10px;
                    }
                }
            }
            ul {
                display: flex;
                li {
                    // filter: grayscale(1);
                    transition: all .5s;
                    &:hover {
                        filter: grayscale(1);
                    }
                }
                .instagram {
                    margin-left: 15px;
                }
            }
        }
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .logo {
            width: 200px;
        }
        
        .menu-desktop {
            ul {
                display: flex;

                .current-menu-item {
                    a {
                        color: $color7;
                        &:before {
                            transition: all .3s;
                            content: '';
                            height: 2px;
                            width: 80%;
                            position: absolute;
                            bottom: -10px;
                            left: 50%;
                            background-color: $color7;
                            transform: translateX(-50%);
                        }
                    }
                }
                li {
                    margin-left: 30px;
                    a {
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $color2;    
                        font-family: "Cocomat";
                        position: relative;
                        font-size: 0.9rem;
                        letter-spacing: 0.1rem;
                        &:before {
                            transition: all .3s;
                            content: '';
                            height: 2px;
                            width: 0%;
                            position: absolute;
                            bottom: -10px;
                            left: 50%;
                            background-color: $color2;
                            transform: translateX(-50%);
                        }
                        &:hover {
                            text-decoration: none;
                            &:before {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
        
    }
}
