.hero {
    font-family: $font1;
    // background-image: url('assets/img/bg_home_2.jpg');
    background-size: cover;
    height: 500px;
    position: relative;
    .encard-hero{
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .img-content {
        margin-top: 50px;
            width: 700px;
            padding: 50px;
            background: #fff;
            opacity: 0.7;
            text-align: center;
            border-radius: 3px;
            h1 {
                font-size: 1.8rem;
                margin-bottom: 15px;
                font-weight: bold;
                color: $color2;
                text-transform: uppercase;
            }
            h2 {
                font-size: 1.5rem;
                line-height: 1.3;
            }
    }
}

.home-blocks {
    padding: 50px 0;
    .first-block {
        display: flex;
        align-items: center;
    }
    .home-block-img {
        width: 50%;
        img {
            width: 100%;
        }
    }
    .home-block-content {
            width: 50%;
            padding: 0 20px;
        .home-block-title {
            font-family: $font3;
            font-size: 2rem;
            margin-bottom: 15px;
            color: $color7;
        }
        .home-block-descr {
            font-family: $fontlight;
            color: $degrade2;
            pre {
                overflow-x: hidden;
                white-space : pre-wrap;
                line-height: 1.3;
                width: 100%;
                font-size: 0.95rem;
            }
        }
    }
}

.hero-carousel {
    .first-image {
        height: 500px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .second-image {
        height: 500px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .third-image {
        height: 500px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}