
.home-blocks {
    padding: 50px 0;
    .first-block {
        display: flex;
        align-items: flex-start;        
    }
    .home-block-img {
        width: 50%;
        img {
            width: 100%;
        }
    }
    .home-block-content {
            width: 50%;
            padding: 0 20px;
        .home-block-title {
            font-family: $font1;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.2rem;
            margin-bottom: 15px;
            color: $color7;
            margin-top: 40px;
        }
        .home-block-descr {
            font-family: $fontlight;
            color: $degrade2;
            p {
                overflow: hidden;
                white-space: pre-wrap;
                line-height: 1.3;
                width: 100%;
                font-size: 0.95rem;
                color: $degrade2;
                font-family: $fontlight;
            }
        }
    }
}


.hero-carousel {
    .first-image {
        height: 500px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .second-image {
        height: 500px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .third-image {
        height: 500px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.banniere-home {
    padding-top: 50px;
    .banniere-home-content {
        display: flex;
        justify-content: center;
        h1, h2 {
            font-family: $font3;
            color: $color6;
            font-size: 3.5rem;
        }
    }
}

.banniere-event {
    background: $color5;
    padding: 30px;
    .banniere-event-content {
        display: flex;
        justify-content: center;
        h1, h2 {
            font-family: $font3;
            color: $color6;
            font-size: 3.5rem;
        }
    }
}

// Derniers événements

.home-events {
    background: $color5;

.recent-block {
    text-align: center;

    &:hover .overlay {
        bottom: 0;
        height: 100%;
        opacity: 0.85;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }
    .event-first-pic {
        position: relative;
    }

    .overlay {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        background: $color5;
        overflow: hidden;
        opacity: 0;
        transition: all .8s;
        .caption {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            margin: 0 auto;

            h4 {
                font-size: 1.5rem;
                line-height: 1.3;
                font-weight: bold;
                font-family: $font1;
                color: $color6;
            }

            .plus {
                width: 30px;
                margin: 30px auto 0 auto;
                img {
                    width: 100%;
                }                    
            }
        
        }
    }

}
.btn-all-events {
    text-align: center;
    margin: 50px 0;
    a {
        font-family: $font1;
        text-transform: uppercase;
        background: $color2;
        color: $color5;
        padding: 6px 10px 8px 10px;
        border: 1px solid $color2;
        border-radius: 2px;
        transition: all .5s;

        &:hover {
            text-decoration: none;
            background: $color5;
            color: $color2;
        }
    }
}
}

// Ateliers à venir

.home-atelier {
    padding: 50px 0;
    .titre-atelier {
        display: flex;
        justify-content: center;

        h3 {
            font-family: $font3;
            color: $color6;
            font-size: 3.5rem;
        }
    }

    .atelier-entete {
        margin-top: 20px;
        text-align: center;
        p {
            font-family: $fontlight;
            color: $degrade2;
            white-space: pre-wrap;
        }
    }

    .atelier-list {
        margin-top: 20px;
        text-align: center;
        p {
            font-family: $fontsemibold;
            color: $color2;
            white-space: pre-wrap;
        }
    }

}