#prestations {
    h1 {
        text-align: center;
        background-color: $color5;
        font-family: $font3;
        font-size: 3.5rem;
        color: $color6;
        padding: 20px 0;
        margin-bottom: 50px;
    }

    .prestation-block {
        height: auto;
        margin-bottom: 30px;
        position: relative;

        .image-prestation {
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .text-overlay {
            background: $degrade4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            h2 {
                text-transform: uppercase;
                font-family: $font1;
                color: #fff;
                font-size: 1.1rem;
                margin-bottom: 15px;
            }
            p{
                font-size: 0.9rem;
                line-height: 1.2;
                color: $degrade5;
                font-family: $fontlight;
                width: 80%;
                white-space: pre-wrap;
            }
    }
}
}