.prestations {
    padding: 50px 0;
    h2 {
        font-family: $font3;
        text-align: center;
        font-size: 2.8rem;
        color: $color6;
        margin-bottom: 40px;
    }

    .block-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .block-img {
            margin-bottom: 20px;
            img {
                border-radius: 100%;
            }
        }
        .block-title {
            font-family: $font1;
            text-transform: uppercase;
            font-size: 1.2rem;
            color: $color6;
        }
        .block-description {
            font-family: $fontlight;
            color: $degrade2;
            margin-top: 20px;
            text-align: justify;
            line-height: 1.2;
            height: 115px;
        }
    }
}


@media (max-width: 768px) {
    .prestations {
        h2 {
            margin-bottom: 0;
        }
        .block-content {
            margin-top: 50px;

            .block-description {
                height: auto;
            }
        }
    }

 }