@media (max-width: 768px) {
    
    .agence {
        .agence-img {
            text-align: center;
        }

        .agence-content {
            padding: 0 5px;
        }

    }

 }


 @media (max-width: 992px) {


    .agence {

        .row {
            flex-direction: column;
        }

    }

 }