@media (max-width: 768px) {

    .single-event {
        .event-title {
            text-align: center;
        }

        .event-type {
            text-align: center;
        }
    }

    #full-events {
        .all-event-content {
            text-align: center;
    
            a {
                &:hover {
                    text-decoration: none;
                }
            }
            .event-first-pic {
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;
                }
            }
    
            .overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: #fff;
                overflow: hidden;
                opacity: 0.8;
                .caption {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    margin: 0 auto;
        
                    h4 {
                        font-size: 1.5rem;
                        line-height: 1.3;
                        font-weight: bold;
                        font-family: $font1;
                        color: $color6;
                    }
                
                }
            }
        }
    }


 }

