@media (max-width: 768px) {  
    .banniere-home {
        text-align: center;
    }

    .container {
        padding-left: 0;
        padding-right: 0;

   
        .home-blocks {
            #block-reverse {
                flex-direction: column-reverse;
            }
            .first-block {
                flex-direction: column;
                margin-bottom: 50px;
                align-items: center;
                .home-block-img {
                    width: 100%;
                    margin-bottom: 20px;
                }
    
                .home-block-content {
                    width: 100%;
                }
            }
        }
    }
    }