@media (max-width: 768px) {  

    body {
        margin-top: 75px!important;
    }


    .banniere-home {
        text-align: center;
    }
    .banniere-event {
        text-align: center;
    }

    .recent-block {
        margin-bottom: 50px;
        .event-first-pic {
            img {
                width: 100%;
            }
        }
    }

    .container {
        padding-left: 0;
        padding-right: 0;

   
        .home-blocks {
            #block-reverse {
                flex-direction: column-reverse;
            }
            .first-block {
                flex-direction: column;
                margin-bottom: 50px;
                align-items: center;
                .home-block-img {
                    width: 100%;
                    margin-bottom: 20px;
                }
    
                .home-block-content {
                    width: 100%;
                }
            }
        }

        .btn-all-events {
            margin: 0 0 50px 0;
        }
    }

    .home-atelier {

        .image-atelier {
            img {
                width: 100%;
            }
        }
        .titre-atelier {
            margin: 50px 0;
            text-align: center;
        }
    }

    .home-events {

        .recent-block {
            
            .overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: $color5;
                overflow: hidden;
                opacity: 0.85;
            }
            
        }
        
    }
    }


    @media (max-width: 992px) {
        
        body {
            margin-top: 75px!important;
        }
    
    
        .banniere-home {
            text-align: center;
        }
        .banniere-event {
            text-align: center;
        }
    
        .recent-block {
            margin-bottom: 50px;
            .event-first-pic {
                img {
                    width: 100%;
                }
            }
        }
    
        .container {
            padding-left: 0;
            padding-right: 0;
    
       
            .home-blocks {
                #block-reverse {
                    flex-direction: column-reverse;
                }
                .first-block {
                    flex-direction: column;
                    margin-bottom: 50px;
                    align-items: center;
                    .home-block-img {
                        width: 100%;
                        margin-bottom: 20px;
                    }
        
                    .home-block-content {
                        width: 100%;
                    }
                }
            }
    
            .btn-all-events {
                margin: 0 0 50px 0;
            }
        }
    
        .home-atelier {
    
            .image-atelier {
                img {
                    width: 100%;
                }
            }
            .titre-atelier {
                text-align: center;
            }
        }
    
        .home-events {
    
            .recent-block {
                
                .overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background: $color5;
                    overflow: hidden;
                    opacity: 0.85;
                }
                
            }
            
        }


    }