@font-face {
    font-family: "Cocomat";
    src: url("assets/fonts/cocomat_light-trial-webfont.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap');


// Name
$font1: "Cocomat", sans-serif;
$font2: "Caveat", sans-serif;