// Colors

$color1: #F0C8C8;
$color2: #923556;
$color5: #F7F7F2;
$color6: #D0A245;
$color7: #C84876;

$degrade1: rgba(231, 150, 179, 0.2);
$degrade2: rgba(53, 50, 47, 0.8);
$degrade3: rgba(146, 53, 86, 0.2);
$degrade4: rgba(0, 0, 0, 0.4);
$degrade5: rgba(255, 255, 255, 0.8);
